<%= form_with(model: [form, section], local: true) do |f| %>
  <% if section.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p>
          <%= pluralize(section.errors.count, "error") %> prohibited this form from being saved:
        </p>
      </div>
      <div class="message-body">
        <ul>
          <% section.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>

  <div class="field">
    <%= f.label :title, class: 'label' %>
    <div class="control">
      <%= f.text_field :title, class: 'input', placeholder: 'Title' %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <%= f.check_box :headless %>
        Hide title
      </label>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit class: 'button is-primary' %>
    </div>
    <div class="control">
      <%= link_to 'Back', url_for(:back), class: 'button is-link' %>
    </div>
  </div>
<% end %>
