<%= form_with(model: preview, scope: :preview, url: form_preview_path(form), local: true) do |f| %>
  <% if preview.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p>
          <%= pluralize(preview.errors.count, "error") %> prohibited this form from being submitted:
        </p>
      </div>
      <div class="message-body content">
        <ul>
          <% preview.errors.messages.each do |name, messages| %>
            <% messages.each do |message| %>
              <li><%= "#{field_label(form, field_name: name)} #{message}" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>

  <% form.sections.each do |section| %>
    <% unless section.headless? %>
      <h2 class="title"><%= section.title %></h2>
    <% end %>

    <% section.fields.each do |field| %>
      <% field = present(field, target: preview) %>
      <% unless field.access_hidden? %>
        <%= render "_form_core/fields/#{field.type_key}", f: f, field: field %>
      <% end %>
    <% end %>
  <% end %>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit "Submit", class: "button is-primary" %>
    </div>
    <div class="control">
      <%= link_to "Back", url_for(:back), class: "button is-link" %>
    </div>
  </div>
<% end %>
