<h2 class="title"><%= field.label %></h2>
<% if field.hint.present? %>
  <h3 class="subtitle"><%= field.hint %></h3>
<% end %>

<%= tag.div id: field.name, class: "nested-forms" do %>
  <%= f.fields_for field.name do |ff| %>
    <%= render "_form_core/fields/nested_form_fields", f: ff, form: field.nested_form %>
  <% end %>

  <div class="links">
    <%= link_to_add_association "Add", f, field.name,
                                class: "button is-link",
                                partial: "_form_core/fields/nested_form_fields", render_options: {locals: {form: field.nested_form}} %>
  </div>
<% end %>
