<%= form_with(model: validations, scope: :validations, url: field_validations_path(field), method: :patch, local: true) do |f| %>
  <% if validations.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p>
          <%= pluralize(validations.errors.count, "error") %> prohibited this form from being saved:
        </p>
      </div>
      <div class="message-body">
        <% validations.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    </article>
  <% end %>

  <% validations.class.attribute_names.each do |attribute_name| %>
    <%= render "_form_core/validations/#{attribute_name}", f: f, validations: validations %>
  <% end %>

  <div class="field is-grouped">
    <p class="control">
      <%= f.submit class: 'button is-primary' %>
    </p>
    <p class="control">
      <%= link_to 'Back', url_for(:back), class: 'button is-link' %>
    </p>
  </div>
<% end %>
