<h3 class="title">Date field</h3>

<div class="field">
  <%= f.label :begin_from, class: "label" %>
  <div class="control">
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :begin_from, "unlimited" %>
          Unlimited
        </label>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :begin_from, "today" %>
          Today with offset
        </label>
      </p>
      <p class="control">
        <%= f.number_field :begin_from_today_days_offset, class: "input", step: 1 %>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :begin_from, "date" %>
          Date
        </label>
      </p>
      <p class="control">
        <%= f.date_field :begin, class: "input" %>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :begin_from, "days_before_end" %>
          Days before end
        </label>
      </p>
      <p class="control">
        <%= f.number_field :days_before_end, class: "input", min: 1, step: 1 %>
      </p>
    </div>
  </div>
</div>

<div class="field">
  <%= f.label :end_to, class: "label" %>
  <div class="control">
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :end_to, "unlimited" %>
          Unlimited
        </label>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :end_to, "today" %>
          Today with offset
        </label>
      </p>
      <p class="control">
        <%= f.number_field :end_to_today_days_offset, class: "input", step: 1 %>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :end_to, "date" %>
          Date
        </label>
      </p>
      <p class="control">
        <%= f.date_field :end, class: "input" %>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :end_to, "days_since_begin" %>
          Days since begin
        </label>
      </p>
      <p class="control">
        <%= f.number_field :days_since_begin, class: "input", min: 1, step: 1 %>
      </p>
    </div>
  </div>
</div>

<hr>
