<h3 class="title">Date range field</h3>

<div class="field">
  <%= f.label :start_from, class: "label" %>
  <div class="control">
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :start_from, "unlimited" %>
          Unlimited
        </label>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :start_from, "today" %>
          Now with offset
        </label>
      </p>
      <p class="control">
        <%= f.number_field :start_from_today_days_offset, class: "input", step: 1 %>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :start_from, "date" %>
          Time
        </label>
      </p>
      <p class="control">
        <%= f.date_field :start_date, class: "input" %>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :start_from, "days_before_finish" %>
          Minutes before finish
        </label>
      </p>
      <p class="control">
        <%= f.number_field :days_before_finish, class: "input", min: 1, step: 1 %>
      </p>
    </div>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <%= f.check_box :fixed_start_date %>
      Fixed start date?
    </label>
  </div>
</div>

<div class="field">
  <%= f.label :finish_to, class: "label" %>
  <div class="control">
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :finish_to, "unlimited" %>
          Unlimited
        </label>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :finish_to, "today" %>
          Now with offset
        </label>
      </p>
      <p class="control">
        <%= f.number_field :finish_to_today_days_offset, class: "input", step: 1 %>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :finish_to, "date" %>
          date
        </label>
      </p>
      <p class="control">
        <%= f.date_field :finish_date, class: "input" %>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control">
        <label class="radio button">
          <%= f.radio_button :finish_to, "days_since_start" %>
          Minutes since start
        </label>
      </p>
      <p class="control">
        <%= f.number_field :days_since_start, class: "input", min: 1, step: 1 %>
      </p>
    </div>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <%= f.check_box :fixed_finish_date %>
      Fixed finish date?
    </label>
  </div>
</div>

<div class="field">
  <div class="field">
    <%= f.label :minimum_distance, class: "label" %>
    <div class="control">
      <%= f.number_field :minimum_distance, class: "input", min: 0, step: 1 %>
    </div>
  </div>
</div>

<div class="field">
  <div class="field">
    <%= f.label :maximum_distance, class: "label" %>
    <div class="control">
      <%= f.number_field :maximum_distance, class: "input", min: 0, step: 1 %>
    </div>
  </div>
</div>

<hr>
