<% f.object.send("build_#{field.name}") unless f.object.send(field.name) %>

<div class="field">
  <%= f.label field.name, field.label, class: 'label' %>
  <div class="control">
    <%= f.fields_for field.name do |ff| %>
      <%= ff.datetime_field :start_time, field.start_time_options.merge(class: 'input', id: "#{field.id}_start_time", required: field.required) %>
      ~
      <%= ff.datetime_field :finish_time, field.finish_time_options.merge(class: 'input', id: "#{field.id}_finish_time", required: field.required) %>
    <% end %>
  </div>
  <% if field.hint.present? %>
    <p class="help"><%= field.hint %></p>
  <% end %>
</div>
