<div class="field">
  <%= f.label field.name, field.label, class: 'label' %>
  <div class="control">
    <%= f.collection_check_boxes field.name, field.choices, :id, :label do |m| %>
      <label class="checkbox">
        <%= m.check_box disabled: field.access_readonly? %>
        <%= m.text %>
      </label>
    <% end %>
  </div>
  <% if field.hint.present? %>
    <p class="help"><%= field.hint %></p>
  <% end %>
</div>
