<div class="field nested_form_field">
  <h2 class="label"><%= field.label %></h2>

  <%= tag.div id: field.name, class: "collection" do %>
    <%= f.fields_for field.name do |ff| %>
      <%= render "_form_core/fields/nested_form", f: ff, field: field, form: field.nested_form %>
    <% end %>

    <div class="links">
      <% if field.access_read_and_write? %>
        <%= link_to_add_association "Add", f, field.name,
                                    force_non_association_create: true,
                                    class: "button is-small",
                                    partial: "_form_core/fields/nested_form",
                                    render_options: {
                                      locals: {field: field, form: field.nested_form}
                                    } %>
      <% end %>
      <% if field.hint.present? %>
        <p class="help"><%= field.hint %></p>
      <% end %>
    </div>
  <% end %>
</div>

<% if field.access_read_and_write? %>
  <script>
    document.addEventListener("turbolinks:load", function() {
      if($('<%= "##{field.name}" %> > .nested_form').length > 0) {
        $('<%= "##{field.name}" %> .links a.add_fields').hide();
      }

      $('<%= "##{field.name}" %>')
        .on('cocoon:before-insert', function() {
          $('<%= "##{field.name}" %> .links a.add_fields').hide();
        })
        .on("cocoon:before-remove", function() {
          $('<%= "##{field.name}" %> .links a.add_fields').show();
        });
    });
  </script>
<% end %>
