<div class="section">
  <div class="container">
    <p content="content">
      <%= link_to "New field", new_form_field_path(@form), class: "button is-primary" %>
    </p>
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th>Name</th>
        <th>Label</th>
        <th>Type</th>
        <th>Section</th>
        <th>Accessibility</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @fields.each do |field| %>
          <tr>
            <td><%= field.name %></td>
            <td><%= field.label %></td>
            <td><%= field.class.model_name.human %></td>
            <td><%= field.section&.title %></td>
            <td><%= Field.human_enum_value(:accessibility, field.accessibility) %></td>
            <td>
              <% if field.attach_choices? %>
                <%= link_to "Choices", field_choices_path(field) %> |
              <% end %>
              <% if field.validations_configurable? %>
                <%= link_to "Validations", edit_field_validations_path(field) %> |
              <% end %>
              <% if field.options_configurable? %>
                <%= link_to "Options", edit_field_options_path(field) %> |
              <% end %>
              <% if data_source_attached_field?(field) %>
                <%= link_to "Data source", edit_field_data_source_options_path(field) %> |
              <% end %>
              <% if nested_form_attached_field?(field) %>
                <%= link_to "Fields", nested_form_fields_path(field.nested_form) %> |
              <% end %>
              <%= link_to "Edit", edit_form_field_path(@form, field) %> |
              <%= link_to "Destroy", form_field_path(@form, field), method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

