<%= form_with(model: form, local: true) do |f| %>
  <% if form.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p>
          <%= pluralize(form.errors.count, "error") %> prohibited this form from being saved:
        </p>
      </div>
      <div class="message-body content">
        <ul>
          <% form.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>

  <div class="field">
    <%= f.label :title, class: "label" %>
    <div class="control">
      <%= f.text_field :title, class: "input", placeholder: "Title" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :description, class: "label" %>
    <div class="control">
      <%= f.text_area :description, class: "textarea", placeholder: "Description" %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit class: "button is-primary" %>
    </div>
    <div class="control">
      <%= link_to "Back", url_for(:back), class: "button is-link" %>
    </div>
  </div>
<% end %>
